# Ignore everything in models/
models/*

# But keep the final/ directory and its contents
!models/final/
!models/final/**

# Ignore system files
.DS_Store
*.pyc
__pycache__/

# Ignore MLFlow run files
src/models/mlruns/*